################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TutorMatch/TutorMatch/appsettings.json
