@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <header>
        <h1 id="main-heading" class="text-center">Bem-vindo ao Tutor Match</h1>
    </header>

    <main role="main" aria-labelledby="main-heading" class="spacing-header">
        <section id="section-intro" class="lead" aria-labelledby="section-intro">
            <h2 class="sr-only">Introdução ao Tutor Match</h2>
            <br> <!-- Quebras de linha para adicionar espaço acima da section -->
            <p>O Tutor Match é uma plataforma digital criada com o objetivo de conectar professores e alunos do CEU Parque Bristol, proporcionando oportunidades de aprendizado e desenvolvimento para ambas as partes.</p>
            <p>Nossa missão é promover a troca de conhecimento e experiências, possibilitando que os professores compartilhem seu saber e os alunos ampliem seus horizontes educacionais.</p>
            <p>Acreditamos que o ensino vai além das quatro paredes da sala de aula, e por isso buscamos criar um ambiente colaborativo e inclusivo, onde todos tenham a oportunidade de aprender e crescer juntos.</p>
        </section>

        <br><br> <!-- Quebras de linha para adicionar espaço entre as sections -->

        <section id="section-objectives" class="lead" aria-labelledby="section-objectives">
            <h3>Nossos Objetivos:</h3>
            <br> <!-- Quebras de linha para adicionar espaço acima da section -->
            <ul>
                <li>Conhecer os stakeholders do CEU Parque Bristol.</li>
                <li>Identificar as necessidades educacionais da comunidade.</li>
                <li>Conectar professores dispostos a compartilhar conhecimento com alunos interessados em aprender.</li>
                <li>Analisar a qualidade das interações na plataforma.</li>
                <li>Verificar se a plataforma está cumprindo sua missão de compartilhar anseios e expectativas.</li>
            </ul>
        </section>

        <br><br> <!-- Quebras de linha para adicionar espaço acima do rodapé -->
    </main>

    <footer role="contentinfo" class="footer-spacing">
        <p>&copy; 2024 Tutor Match. Todos os direitos reservados.</p>
    </footer>
</div>

<style>
    .footer-spacing {
        margin-top: 50px; /* Adiciona um espaçamento extra acima do rodapé */
    }
</style>
