@{
	ViewData["Title"] = "Política de Privacidade";
}
<h1>@ViewData["Title"]</h1>

<p>Esta Política de Privacidade explica como coletamos, usamos, armazenamos e protegemos as informações pessoais dos usuários em nosso site.</p>

<section aria-labelledby="coleta-de-dados">
	<h2 id="coleta-de-dados">1. Coleta de Dados</h2>
	<p>Coletamos dados pessoais dos usuários quando eles se registram, preenchem formulários ou interagem com nossos serviços. Esses dados podem incluir, mas não estão limitados a, nome, e-mail e preferências de navegação.</p>
</section>

<section aria-labelledby="uso-dos-dados">
	<h2 id="uso-dos-dados">2. Uso dos Dados</h2>
	<p>As informações coletadas são usadas para fornecer e melhorar nossos serviços.</p>
	<p>Além disso, usamos esses dados para:</p>
	<p>- Notificar os usuários sobre alterações nos nossos serviços;</p>
	<p>- Permitir participação em recursos interativos;</p>
	<p>- Fornecer suporte ao cliente.</p>
</section>

<section aria-labelledby="armazenamento-dos-dados">
	<h2 id="armazenamento-dos-dados">3. Armazenamento dos Dados</h2>
	<p>As informações pessoais dos usuários são armazenadas de forma segura, utilizando protocolos de segurança para prevenir acessos não autorizados, vazamentos e violações de dados.</p>
</section>

<section aria-labelledby="compartilhamento-dos-dados">
	<h2 id="compartilhamento-dos-dados">4. Compartilhamento dos Dados</h2>
	<p>Não compartilhamos informações pessoais com terceiros, exceto quando necessário para:</p>
	<p>- Prestar serviços diretamente aos usuários;</p>
	<p>- Cumprir com obrigações legais ou regulatórias.</p>
</section>

<section aria-labelledby="consentimento">
	<h2 id="consentimento">5. Consentimento</h2>
	<p>Ao utilizar nosso site, os usuários consentem com a coleta e uso de suas informações pessoais conforme descrito nesta política. Caso contrário, recomendamos que não utilizem nossos serviços.</p>
</section>

<section aria-labelledby="contato">
	<h2 id="contato">6. Como Entrar em Contato</h2>
	<p>Se você tiver dúvidas sobre esta Política de Privacidade ou sobre como protegemos seus dados, entre em contato conosco através do nosso formulário de contato ou por e-mail.</p>
</section>

<p><strong>Última atualização:</strong> 05 de Novembro de 2024</p>