@model TutorMatch.Models.Aula

@{
	ViewData["Title"] = "Editar Aula";
}

<h1>Editar Aula</h1>

<h4>Detalhes da Aula</h4>
<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-action="Edit">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<input type="hidden" asp-for="Id" />

			<div class="form-group">
				<label asp-for="Data" class="control-label">Data</label>
				<input asp-for="Data" class="form-control" />
				<span asp-validation-for="Data" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label asp-for="Hora" class="control-label">Hora</label>
				<input asp-for="Hora" class="form-control" />
				<span asp-validation-for="Hora" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label asp-for="NomeDaAula" class="control-label">Nome da Aula</label>
				<input asp-for="NomeDaAula" class="form-control" />
				<span asp-validation-for="NomeDaAula" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label for="ProfessorId" class="control-label" id="labelProfessor">Professor Responsável</label>
				<input type="text" class="form-control" id="Professor" value="@ViewBag.ProfessorName" readonly aria-labelledby="labelProfessor" aria-required="true" />
				<input type="hidden" asp-for="ProfessorId" value="@ViewBag.ProfessorId" />
				<span asp-validation-for="ProfessorId" class="text-danger" role="alert"></span>
				<small class="form-text text-muted">O professor responsável pela aula será você.</small>
			</div>


			<div class="form-group">
				<label asp-for="LinkDaAula" class="control-label">Link da Aula</label>
				<input asp-for="LinkDaAula" class="form-control" />
				<span asp-validation-for="LinkDaAula" class="text-danger"></span>
			</div>

			<div class="form-group">
				<input type="submit" value="Salvar" class="btn btn-primary" />
				<a asp-action="Index" class="btn btn-secondary ml-2">Voltar para a Lista</a>
			</div>
		</form>
	</div>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}

